@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: rgb(229, 229, 229);
    --color-heading: rgb(184, 184, 184);
    --color-base: rgb(255, 255, 255);
    --color-base2: #07090D;
    --color-base3:rgb(255, 255, 255);
    --color-brand: #D4AF37;
    --color-brand2: #6f8809;
    --sidbar-width: 240px;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    position: relative;
}


h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

.img-t {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}


.sam_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.sam_logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--color-brand);
}
.name_info {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.name_info p {
    margin-bottom: -2px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}
.name_info span {
    font-size: 12px;
    font-weight: 400;
}

.home_bg {
    position: relative;
}
.home_bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/sam2.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: -1;
}

.text-brand {
    /* color: var(--color-brand); */
    background: linear-gradient(
        90deg,
        #6f8809,
        #D4AF37,
        #a5a3ab,
        #D4AF37,
        #6f8809
    );

    background-size: 300% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

    animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
    to {
        background-position: 300% center;
    }
}

.bg-base {
    background: linear-gradient(
        135deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,.03)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        0 8px 30px rgba(0,0,0,.4),
        inset 0 1px 1px rgba(255,255,255,.25);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 40px -30px var(--color-brand);
    transform: translateY(-10px);
}

/* NAVBAR */

.navbar .nav-link {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition:.3s;
    padding: 2px 12px;
    border: 1px solid rgba(2, 2, 2, 0);
}

.navbar .nav-link:hover{
    color:var(--color-brand);
    transition:.3s;
}
.navbar .nav-link.active{
    color:var(--color-brand);
    border: 1px solid var(--color-brand);
    border-radius: 6px;
    transition:.3s;
}

@media (min-width: 992px) {
    .navbar-brand {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: between;
        padding: 0;
    }
    .navbar-brand span {
        display: none;
    }
    .navbar-brand img {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--color-brand);
    }
    .navbar {
        width: 70%;
        margin: auto;
        margin-top: 10px;
        border-radius: 50px;
    }
}

.navbar-nav {
    /* border: 1px solid red; */
}
.navbar {
    background: linear-gradient(
        135deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,.03)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        0 8px 30px rgba(0,0,0,.4),
        inset 0 1px 1px rgba(255,255,255,.25);
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand3);
    color: var(--color-base);
    border-color: var(--color-brand3);
    transition:.3s;
}

.btn-brand:hover,
.btn-brand:focus {    
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 30%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
    background-color: transparent;
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-base);
}

#contact input.form-control {
    height: 44px;
}


/* read more option css */
.intro {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.extra-content{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition:
        max-height .45s ease,
        opacity .35s ease,
        transform .35s ease;
}

.read-more-content.expanded .intro {
    display: block;
}

.read-more-content.expanded .extra-content{
    opacity: 1;
    transform: translateY(0);
}

.read-btn {
    text-decoration: none;
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}
.ul_custom {
    list-style: none;
    padding-left: 0;
}

.ul_custom li {
    margin-bottom: 10px;
}

.ul_custom li::before {
    content: "🢚";
    margin-right: 10px;
    color: rgb(203, 203, 203); /* Optional */
}

/* Professional Network css */

.presence-card{
    background:#9595951b;
    padding: 35px 30px;
    border-radius:18px;
    height:100%;
    transition:.35s;
    border:1px solid rgba(117, 117, 117, 0.149);
    cursor: pointer;
}

.presence-card:hover{
    transform:translateY(-8px);
    border-color:#ffb30050;
}

.presence-card h4{
    margin-bottom:12px;
    font-weight:700;
}

.presence-card p{
    color:#bdbdbd;
    margin-bottom:22px;
    line-height:1.7;
}

.presence-card a{
    text-decoration:none;
    color:#9e6f00fe;
    font-weight:600;
}

.presence-card a i{
    font-size:16px;
    margin-left:6px;
}

/* footer css */
.ftr_bg {
    background: linear-gradient(
        135deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,.03)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        0 8px 30px rgba(0,0,0,.4),
        inset 0 1px 1px rgba(255,255,255,.25);
}



/* CONTACT CARD */

.contact-card {
    background: var(--color-base2);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 18px;
    padding: 30px 20px;
    transition: .35s;
}

.contact-card:hover {
    transform: translateY(-8px);
    border-color: var(--color-brand);
    box-shadow: 0 15px 40px rgba(0,0,0,.25);
    cursor: pointer;
}

.contact-icon {
    width: 70px;
    height: 70px;
    background: rgba(232,131,0,.15);
    color: var(--color-brand);
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.contact-card h5{
    margin-bottom:10px;
}

.contact-card p{
    margin-bottom:20px;
    opacity:.8;
}

.contact-btn{
    display:inline-block;
    padding:10px 22px;
    border:2px solid var(--color-brand);
    border-radius:50px;
    color:var(--color-brand);
    text-decoration:none;
    transition:.3s;
    font-weight:600;
}

.contact-btn:hover{
    background:var(--color-brand);
    color:#fff;
}


/* SOCIAL CONTACT */

.social-contact{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:18px;
}

.social-contact a{
    width:60px;
    height:60px;
    border-radius:50%;
    background:var(--color-base2);
    color:var(--color-brand);
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:28px;
    transition:.35s;
    border:1px solid rgba(232,131,0,.35);
}

.social-contact a:hover{
    background:var(--color-brand);
    color:#fff;
    transform:translateY(-6px) rotate(8deg);
    box-shadow:0 10px 25px rgba(232,131,0,.35);
}

.over_hide {
    overflow: hidden;
}

/* animation css for show hide effect */
/* Smooth Animation */
.left,
.right,
.up,
.down{
    opacity: 0;
    transition: all 1s ease;
}

.up{
    transform: translateY(100px);
}

.down{
    transform: translateY(-100px);
}

.left{
    transform: translateX(-100px);
}

.right{
    transform: translateX(100px);
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.delay-1{
    transition-delay: .2s;
}

.delay-2{
    transition-delay: .4s;
}

.delay-3{
    transition-delay: .6s;
}

/* profile image design */

.profile-wrapper{
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto;
}

/* Image */

.profile-image{
    position:absolute;
    inset:20px;
    border-radius:50%;
    overflow:hidden;
    z-index:3;
}

.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    overflow: hidden;
}

/* Golden Circle */

.gold-ring{
    position:absolute;
    inset:15px;
    border-radius:50%;
    border:1.8px solid rgba(255,185,70,.8);
    z-index:2;
}


.glow-ring{
    position:absolute;
    inset:0;
    border-radius:50%;
}

.gold-ring::before{
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    border-radius:10%;
    background:#3eccff82;
    filter:blur(15px);

    top:10px;
    right:-40px;
}

.gold-ring::after{
    content:"";
    position:absolute;
    width:30px;
    height:30px;
    border-radius:10%;
    background:#3ecbff;
    filter:blur(15px);

    bottom:150px;
    left:50px;
}

.ai_bg {
    position: relative;
}
.ai_bg_img {
    position: fixed;
    background-image: url('../images/ai_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}
.p1 {
    font-size: 13px;
    color: var(--color-brand);
}

/* blog section */

.blog-card{
    background:#9595951b;
    border-radius:18px;
    height:100%;
    transition:.35s;
    border:1px solid rgba(117, 117, 117, 0.149);
    cursor: pointer;
}

.blog-card:hover{
    border-color:#ffb30050;
    box-shadow: -6px 6px 40px -30px var(--color-brand);
}

.blog-image{
    overflow: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.blog-image img{
    width:100%;
    height:220px;
    object-fit:cover;
    transition:.5s;
}

.blog-card:hover img{
    transform:scale(1.08);
}

.blog-content{
    padding:25px;
}

.blog-date{
    color:#9ea6b5;
    display:block;
    margin-bottom:10px;
}

.blog-content h4{
    color:#fff;
}

.blog-content p{
    color:#b8bcc8;
}

.blog-content a{
    color:var(--color-brand);
    text-decoration:none;
    font-weight:600;
}

.blog-content a:hover{
    letter-spacing: 1px;
}